mat-expansion-panel + mat-expansion-panel{
  margin-top: 0.5em;
}

mat-expansion-panel-header {
  &.active {
    background-color: #b3d3e773;
  }
  &.finished {
    background-color: #a4e3b447;
  }

}


mat-panel-title {
  font-size: 18px;
  color: #3c3c7a;


  small {
    font-size: small;
    font-style: italic;
    color: #afa9a9;
  }

  .done-icon {
    color: #8eb78e
  }

  .pending-icon {
    color: #f9ab0000;
  }
}

mat-panel-description {
  justify-content: right;
  font-size: small;
}
