.container{

    h1 {
      text-align: center;
    }

    width: 50%;
    margin: auto;
    min-width: 50em;

    .panel-container {
      margin-bottom: 2em;
      display: flex;

      .panel {

        &.left{
          flex: 1;
        }

        &.right{
          width: 40%;
          display: flex;
          align-items: center;
          padding: 10px;
        }
      }
    }


}
